body {
    background: rgb(213, 238, 238);
}
h1, h2 {
    text-align: center;
}

input.text {
    width: 90%;
    box-sizing: border-box;
}

#settingsAndFix {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#settingsForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 1px black;
    height: 16em;
    width: 20%;
    padding: 1em;
    margin: 1em;


}

#lastKnowFix {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 1px black;
    height: 12em;
    width: 20%;
    padding: 1em;
    margin: 1em;

}

#sightInput {
    display: flex;
    flex-direction: row;
    border: solid 1px black;
    height: 100%;
    width: 95%;

    
}

.sight-1, .sight-2, .sight-3, .sight-4, .sight-5 {
    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
    border: solid 1px black;
    height: 100%;
    width: 20%;

}

